.header_Style{
  text-align: 'center';
  /* color:bisque; */
  height: 64;
  padding-inline: 50;
  line-height: '64px';
  background-color: '#7dbcea';
  margin-top: 0rem;
  display:flex;
  flex: 1;
  /* justify-content: space-between;
  flex:1; */
}
.postdiv-container {
  margin-left: 28rem;
width: 100%;
  margin-top:6rem ;

}

.postdiv{
  /* margin-left: 160rem; */
  /* padding-left: 20rem; */
  width: 620rem;

  height: 20rem;
}
/* .maindiv{
  display: flex;
  flex-direction: column;
} */
/* .nav_div{} */
.lms{
  color:whitesmoke;
  font-size: 1.5rem;
  text-align: center;
  margin-top: -4.2rem;
  display:flex;
flex-direction: row;
 margin-left: 15rem; 
 background-color:#001529;
}

.img1{
  width: 8rem;
  height: 4.2rem;
  display:flex;
  flex-wrap: wrap;
}


.nav1{

  justify-content: flex-end;
  margin-top: -5.6rem;
  margin-right:   2rem;

  color: whitesmoke;
  display:flex;
  /* background-color: #001529; */
}


.nav2{

  justify-content: flex-end;
  color: whitesmoke;
  font-size: 1.1rem;
  display:flex;
}


.a1{
  display: flex;
  align-content: space-between;

}
.get_div1{
  margin-top: 2rem;
}


.tagline {
  font-size: 5.8rem;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  width: 40rem;

  background-color: aquamarine;
  /* word-spacing: 1rem; */
  /* height: 30rem; */
  font-weight: 500; /* Adjusted font-weight */
  font-style: oblique;
  margin-left: 8rem;
  letter-spacing: 0.2rem;
  color: #001529; /* Corrected color syntax */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.quote{
  font-size: 1.8rem;
  margin-left: 14rem;
  font-family: Brush Script MT, Brush Script Std, cursive	;
  margin-top: -7rem;
  font-weight: 100;
  font-style: oblique;
}

.image2{
  margin-left: 12rem;
  margin-top: 8rem;
}

.txtdiv{
  background-color: #001529;
  width: 50rem;
  height: 55.5rem;
  margin-top: 2rem;
  margin-left:-4rem;
}

.quote1{
  margin-top: 10rem;
  padding-top: 10rem;
  font-size: 1.4rem;
}

.image3{
  margin-left: 60rem;
  width: 26rem;
  height: 32rem;
  margin-top: -30rem;

}

.btn1{
  background-color: #001529;
  color: whitesmoke;
  width: 30rem;
  height: 3.8rem;
  border-radius: 15px;
  font-size: 1.2rem;

}

.span1{

  margin-left: 13.5rem;
  margin-top: -5rem; 
}

/* .inputbox {
  width: 100%;
  padding: 8px;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.delete_btn{
  margin-top: 1rem;
}

.postdiv {
  max-width: 400px;
  margin: auto;
  margin-top: 2rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}


.label{
  margin-bottom: 2px;
  font-weight: bold;
} */


.postdiv {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
  margin-bottom: 2px;
  font-weight: bold;
}

.inputbox {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px; /* Reduced margin */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputbox1 {
  width: 100%;
  margin-bottom: 10px; /* Reduced margin */
}

/* Add more styles as needed */
.delete_btn{
  margin-top: 1rem;
}


.nav3{
  display: flex;
  justify-content: flex-end;
  color: whitesmoke;
  font-size: 1.1rem;
  margin-left: 1rem;

}

/* .nav1 {
  display: flex;
}

.nav2:hover,
.nav3:hover {
  background-color: #1890ff;
} */

@media screen and (max-width: 768px) {
  .header_Style {
    flex-direction:inherit;
    align-items: flex-start;
    display:flex;
    width: 100%;
  justify-content: space-between;    
  height: 5rem;
  }

  .nav1 {
      margin-top: 6rem;
        width: 100%;
      margin-left: -0.5rem;
display: flex;
flex-wrap: wrap;
  }

  .nav2{
margin-top: -10rem;
margin-right: 3%;
color: white;
font-size: 0.9rem;

  }
  .nav3 {
    margin-left: 0.1%;
margin-top: -10rem;
color: aliceblue;
font-size: 0.9rem;
  } 

  .quote{
    font-size: 2rem;
    width: 18rem;
    margin-top: -4rem;
    margin-left: 3%;
  }

  .quote1{
    font-size: 1.2rem;
    width: 22rem;
  }

  .image2{
    width: 20rem;
    margin-left: 1%;
    margin-top: -1rem;
  }
.btn1{
  width: 15rem;
  font-size: 1rem;
  height: 3.2rem;
  margin-left: -13rem;
  margin-right: -1rem;
  margin-top: -20rem;
}
.image3{
  margin-top: -2rem;
  width: 15rem;
  height: 16rem;
  margin-bottom: 4rem;
  margin-left: -14rem;
}
.img1{

width: 0;
height: 0;
}

.a1{
  width: 10px;
  display: flex;
}
.a2{
 font-size: 10px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.lms{
  color:whitesmoke;
  width: 100%;
  justify-content: space-between;
  display:inline;
 margin-top: 0.60rem;
  font-size: 16px;
  margin-left: -2.9rem;
  margin-right: 2rem;
  height: 4rem;
  background-color: #001529;

}

.postdiv-container{
margin-left: -2.5rem;

}

.postdiv{

  width: 126%;
  padding-left:2rem ;
  margin-right: 2rem;

  
}

/* .nav2{
  margin-left: 2%;
} */
.get_div1{
  display: flex;
  flex-direction: column;
}
.card_div{
  flex-direction: column;
}
}
